{% include '../../shared/header.njk' %}
{% include '../../shared/section-home.njk' %}
{% include '../../shared/section-choose.njk' %}
{% include '../../shared/section-huge.njk' %}
{% include '../../shared/footer.njk' %}
