<footer class="footer">
<div class="footer__container">
<div class="footer__info">
{% include './logo.njk' %}
<p class="footer__text">LaslesVPN is a private virtual network that has unique features and has high security.</p>
<div class="footer__contact">
<a class="footer__icon">
<img src="../development/assets/svg/Facebook.svg"  /></a>
<a class="footer__icon"><img src="../development/assets/svg/Instagram.svg" /></a>
<a class="footer__icon"><img src="../development/assets/svg/Twitter.svg"  /></a></div>
<span class="footer__time">©2020Lasles<b>VPN</b></span></div>
<div class="footer__help">
<div class="footer__Product footer__Product--mar">
<span class="footer__help-title">Product</span>
<ul class="footer__help-list">
<li class="footer__help-item"><a class="footer__link" href="#">Download </a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Pricing</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Locations</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Server</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Countries</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Blog</a></li></ul></div>
<div class="footer__Engage"><span class="footer__help-title">Engage</a></span>
<ul class="footer__help-list">
<li class="footer__help-item"><a class="footer__link" href="#">LaslesVPN ? </a></li>
<li class="footer__help-item"><a class="footer__link" href="#">FAQ</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Tutorials</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">About Us</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Privacy Policy</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Terms of Service</a></li>
</ul></div>
<div class="footer__Earn"><span class="footer__help-title">Earn Money</span>
<ul class="footer__help-list">
<li class="footer__help-item"><a class="footer__link" href="#">Affiliate</a></li>
<li class="footer__help-item"><a class="footer__link" href="#">Become Partner</a></li>
</ul></div>
</div>
</div>
</footer>
