<header class="header">
           {% include './logo.njk' %}
              <nav class="header__nav">
              <a class="header__nav-links" href="#">About</a>
              <a class="header__nav-links" href="#">Features</a>
              <a class="header__nav-links" href="#">Pricing</a>
              <a class="header__nav-links" href="#">Testimonials</a>
              <a class="header__nav-links" href="#">Help</a>
            </nav>
      
        
      <div class="header__buttons">
            <a href="#" class="header__buttons-in" href="#">Sign In</a>
            <button class="header__buttons-up" href="#">Sign Up</button>
      </div>
  
</header>
