 <div class="logo">
          <figure class="logo__image">
           {% include '../assets/svg/logoo.svg' %}
           </figure>
           <figure class="logo__image">
             {% include '../assets/svg/vpn.svg' %}
             </figure>
            </div>
          