<section class="section-want">
<div class="section-want__text">
<h1 class="section-want__title">Want anything to be easy with <b>LaslesVPN</b>.</h1>
<p class="section-want__desc">Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.</p>
<button class="section-want__button" href="#">Get Start</button>
</div>
<figure class="section-want__image">
<img src="../development/assets/svg/want-img.svg" width="110%" />
</figure>
</section>