<div class="comments__subscribe">
    <div class="comments__subscribe-container">
        <h2 class="comments__subscribe-title">Subscribe Now for Get Special Features!</h2>
        <div class="comments__subscribe-subtitle">Let's subscribe with us and find the fun.</div>
    </div>
        <button class="comments__subscribe-btn">Subscribe Now</button>
</div>