<section class="section-huge">
    <div class="section-huge__header">
        <h2 class="section-huge__text">
            Huge Global Network <br> &emsp;&emsp;&nbsp;of Fast VPN
        </h2>
        <p class="section-huge__content">
            See <span>LaslesVPN</span> everywhere to make it easier for you when you move
            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;locations.
        </p>
    </div>
    <figure class="section-huge__img">
        <img loading="lazy" src="/assets/images/map/map.jpg" alt="Map Image" >
    </figure>

    <div class="section-huge__socialmedia">
        <a href="#"><img src="/assets/images/socialmedia/netflix.jpg" alt="Netflix Image"></a>
        <a href="#"><img src="/assets/images/socialmedia/reddit.jpg" alt="Reddit Image"></a>
        <a href="#"><img src="/assets/images/socialmedia/amazon.jpg" alt="Amazon Image"></a>
        <a href="#"><img src="/assets/images/socialmedia/discord.jpg" alt="Discord Image"></a>
        <a href="#"><img src="/assets/images/socialmedia/spotify.jpg" alt="Spotify Image"></a>
    </div>
</section>
