<section class="section-choose">
    <div class="section-choose__header">
        <h2 class="section-choose__text">
            Choose Your Plan
        </h2>
        <p class="section-choose__content">
            Let's choose the package that is best for you and explore it happily and
            <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;cheerfully.
        </p>
    </div>
    <div class="section-choose__card">
        <div class="section-card1">
            <div class="section-card1__article">
                <div class="section-card1__article1">
                    <figure class="section-card1__article1-img">
                        {% include '../assets/svg/free.svg' %}
                    </figure>
                    <h4 class="section-card1__article1-text">
                        Free Plan
                    </h4>
                </div>
                <div class="section-card1__content">
                    <ul>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Unlimited Bandwitch</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Encrypted Connection</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; No Traffic Logs</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Works on All Devices</li><br>
                        <li></li><br>
                        <li></li><br>
                        <li></li><br>
                        <li></li><br>
                    </ul>
                </div>
            </div>
            <div class="section-card1__footer">
                <h3 class="section-card1__text">
                    <span>Free</span>
                </h3>
                <div class="section-card1__button">
                    {% include '../shared/button.njk' %}
                </div>
            </div>
        </div>
        <div class="section-card2">
            <div class="section-card2__article">
                <div class="section-card2__article2">
                    <figure class="section-card2__article2-img">
                        {% include '../assets/svg/standard.svg' %}
                    </figure>
                    <h4 class="section-card2__article2-text">
                        Standard Plan
                    </h4>
                </div>
                <div class="section-card2__content">
                    <ul>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Unlimited Bandwitch</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Encrypted Connection</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Yes Traffic Logs</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Works on All Devices</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Copy Connect Anyware</li><br>
                        <li></li><br>
                        <li></li><br>
                    </ul>
                </div>
            </div>
            <div class="section-card2__footer">
                <h3 class="section-card2__text">
                    <span>$9</span> / mo
                </h3>
                <div class="section-card2__button">
                    {% include '../shared/button.njk' %}
                </div>
            </div>
        </div>
        <div class="section-card3">
            <div class="section-card3__article">
                <div class="section-card3__article3">
                    <figure class="section-card3__article3-img">
                        {% include '../assets/svg/premium.svg' %}
                    </figure>
                    <h4 class="section-card3__article3-text">
                        Premium Plan
                    </h4>
                </div>
                <div class="section-card3__content">
                    <ul>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Unlimited Bandwitch</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Encrypted Connection</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Yes Traffic Logs</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Works on All Devices</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Connect Anyware</li><br>
                        <li>{% include '../assets/svg/click.svg' %} &ensp; Get New Features</li><br>
                    </ul>
                </div>
            </div>
            <div class="section-card3__footer">
                <h3 class="section-card3__text">
                    <span>$12</span> / mo
                </h3>
                <div class="section-card3__button">
                    {% include './button-selected.njk' %}
                </div>
            </div>
        </div>
    </div>
</section>
